<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <form id="signup-form" action="/signup" method="POST">
        <input type="text" placeholder="username" name="username" autocomplete="username" required>
        <input type="text" placeholder="email" name="email" autocomplete="email" required>
        <input type="password" placeholder="password" name="password" autocomplete="current-password" required>

        <button type="submit">Submit</button>

    </form>

    <!-- Add your scripts here -->

    <script src="../js/signup.js"></script>


</body>

</html>